/* Hero Section Start*/
.hero {
    color: var(--text-color);
    text-align: center;
    padding: 5rem 1rem;
}

.hero-content h1 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.105rem;
    margin-bottom: 2rem;
}

main {
    padding: 0 2rem;
}

@media (max-width: 768px) {
    main {
        padding: 0 1rem;
    }

}

.main-btn {
    background-color: var(--primary-color);
    border-radius: var(--radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: var(--text-color-reverse);
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    border-radius: var(--radius);
    transition: all 0.3s;
}

.main-btn:hover {
    background-color: var(--text-color);
    color: var(--light-bg);
}

/* Hero Section End*/


/* Main Content Start */
.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.post-link {
    color: var(--primary-color);
}

.posts-header h2 {
    font-size: 1.8rem;
    color: var(--text-color);
}

.posts-filter {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.posts-filter input,
.posts-filter select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.793);
    border-radius: var(--radius);
    margin-left: 0.5rem;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.hidden {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .posts-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .posts-filter {
        width: 100%;
        justify-content: space-between;
    }

    .posts-filter input,
    .posts-filter select {
        width: calc(50% - 0.5rem);
        margin-left: 0;
        margin-top: 0.5rem;
    }
}

#posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.post-footer {
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.post-card-content:hover .post-footer {
    display: flex;
}

.post-footer .btn {
    background-color: var(--primary-color);
    color: var(--text-color-reverse);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    text-decoration: none;
    transition: background-color 0.3s;
}

.post-footer .btn:hover {
    background-color: var(--secondary-color);
}

.post-footer .delete-post {
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.3s;
    opacity: 0.8;
    font-size: 1.2rem;
}

.post-footer .delete-post:hover {
    opacity: 1;
}

.post-card {
    background-color: var(--light-bg);
    padding: 1.5rem;
    border-radius: var(--radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.post-card:hover {
    transform: translateY(-8px);
}

.post-card-content .post-title {
    margin-bottom: 0.75rem;
}

.post-card-content .post-title a {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 0.75rem;
    text-decoration: none;
    transition: color 0.3s;
}

.post-card-content .post-meta {
    font-size: .9rem;
    color: var(--secondary-color);
    margin-bottom: 0.75rem;
    transition: color 0.3s;
}

.post-meta {
    display: flex;
    gap: 8px;
}

.post-meta time,
span {
    background-color: var(--text-color);
    color: var(--light-bg);
    padding: 3px 10px;
    opacity: .8;
    border-radius: var(--radius);
}

.post-card-content p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.25rem;
    line-height: 1.5;
    transition: color 0.3s;
}

/* Main Content End */